{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
  ],
  "ecmaFeatures": {
    "arrowFunctions": true,
    "defaultParams": true,
    "destructuring": true,
    "modules": true,
    "spread": true,
    "restParams": true,
    "templateStrings": true,
    "classes": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "blockBindings": true,
    "jsx": true
  },
  "globals": {
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "one-var": [1, "never"],
    "no-var": 2,
    "object-shorthand": 1,
    "arrow-spacing": 2,
    "arrow-parens": 2,
    "prefer-arrow-callback": [1, {"allowNamedFunctions": true}],
    "prefer-const": 1,
    "prefer-template": 1,
    "no-useless-concat": 1,
    "block-scoped-var": 1,
    "keyword-spacing": [2, {"before": true, "after": true}],
    "object-curly-spacing": [2, "always"],
    "comma-dangle": [2, {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never",
    }],
    "quotes": [2, "single", {"avoidEscape": true, "allowTemplateLiterals": true}],
    "curly": [2, "multi-line"],
    "semi": [2, "always"],
    "eqeqeq": [2, "allow-null"],
    "no-underscore-dangle": 0,
    "no-unreachable": 1,
    "no-throw-literal": 2,
    "consistent-return": 0,
    "no-unused-vars": [1, {"vars": "all", "args": "after-used"}],
    "camelcase": [2, {properties: "never"}],
    "new-cap": [0],
    "no-multiple-empty-lines": [2, { max: 1, maxEOF: 1, maxBOF: 0 }],
    "padded-blocks": [2, "never"],
    "key-spacing": 0,
    "no-shadow": 1,
    "no-console": 0,
    "no-unused-expressions": 0,
    "no-process-exit": 0,
    "babel/object-curly-spacing": 0,
  },
  "plugins": [
    "babel",
  ]
}
